.idea/
__pycache__
.vscode/
logs/
results/
backtest/
plots/
information/
old/
excel/
data/
curr_price/
real_test/
models/
reports/
tuning_info/
load_run_results/
tax/
env/
predictions/
requirements.txt
error_file.txt
scripts/config/symbols.py
*/tax_info.csv
stock-bot-320000-f72915536b05.json
