.idea/
__pycache__
api_key.py
.vscode/
logs/
results/
backtest/
plots/
information/
old/
excel/
curr_price/
real_test/
models/
reports/
tuning_info/
load_run_results/
tax/
error_file.txt
scripts/symbols.py
*/tax_info.csv
