.idea/
__pycache__
api_key.py
.vscode/
logs/
results/
plots/
information/
old/
excel/
curr_price/
real_test/
models/
reports/
tuning_info/
load_run_test/
error_file.txt
scripts/testing.py
scripts/symbols.py
